* {
  box-sizing: border-box;
  background-color: rgb(244, 244, 244);
  color: #333;
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
}
.App {
  margin: 0;
  padding: 2rem 10rem 10rem 2rem;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.title {
  font-size: 4.4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.form {
  display: flex;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border: 0;
  border-bottom: 1px solid rgb(204, 199, 199);
  display: none;
}
.button {
  border: 0;
  cursor: pointer;
}
.button:hover + .input {
  display: block;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.card {
  margin-bottom: 1rem;
  display: flex;
}
.card--image {
  flex: 100%;
  margin-top: 1rem;
  border-radius: 10px;
}
